
.header{
    background: #3C339A;

    .header__container {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;

        .header__logo {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 5rem;
            }
        }

        .header__slogan {
            .header__slogan-text {
                color: #eee; // TODO: change to variable
                user-select: none;
            }
        }
    }

}